################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/obj/Release/netcoreapp1.1/LearnCore.AssemblyInfo.cs
/LearnCore/obj/Release/netcoreapp1.1/CoreCompileInputs.cache
/LearnCore/obj/Release/netcoreapp1.1
/LearnCore/obj/project.assets.json
/LearnCore/obj/LearnCore.csproj.nuget.g.targets
/LearnCore/obj/LearnCore.csproj.nuget.g.props
/LearnCore/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LearnCore/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LearnCore/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LearnCore/obj/Debug/netcoreapp1.1/LearnCore.pdb
/LearnCore/obj/Debug/netcoreapp1.1/LearnCore.dll
/LearnCore/obj/Debug/netcoreapp1.1/LearnCore.csprojResolveAssemblyReference.cache
/LearnCore/obj/Debug/netcoreapp1.1/LearnCore.csproj.FileListAbsolute.txt
/LearnCore/obj/Debug/netcoreapp1.1/LearnCore.AssemblyInfo.cs
/LearnCore/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/LearnCore/obj/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1/LearnCore.runtimeconfig.json
/LearnCore/bin/Debug/netcoreapp1.1/LearnCore.runtimeconfig.dev.json
/LearnCore/bin/Debug/netcoreapp1.1/LearnCore.pdb
/LearnCore/bin/Debug/netcoreapp1.1/LearnCore.dll
/LearnCore/bin/Debug/netcoreapp1.1/LearnCore.deps.json
/LearnCore/wwwroot/lib
