################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/obj/project.assets.json
/LearnCore/obj/LearnCore.csproj.nuget.g.targets
/LearnCore/obj/LearnCore.csproj.nuget.g.props
/LearnCore/obj/LearnCore.csproj.codegeneration.targets
/LearnCore/obj/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/wwwroot/lib
