################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/obj/project.assets.json
/LearnCore/obj/LearnCore.csproj.nuget.g.targets
/LearnCore/obj/LearnCore.csproj.nuget.g.props
/LearnCore/obj/LearnCore.csproj.codegeneration.targets
/LearnCore/obj/Debug/netcoreapp1.1
/LearnCore/obj
/LearnCore/bin/Debug/netcoreapp1.1
/LearnCore/wwwroot/lib
/LearnCore.Application/bin/Debug/netcoreapp1.1
/LearnCore.Application/obj
/LearnCore.Domain/bin/Debug/netcoreapp1.1
/LearnCore.Domain/obj
/LearnCore.EntityFramworkCore/bin/Debug/netcoreapp1.1
/LearnCore.EntityFramworkCore/obj
/LearnCore.MVC/bin/Debug/netcoreapp1.1
/LearnCore.MVC/obj
/LearnCore.MVC/wwwroot/lib
/LearnCore.EntityFrameworkCore/bin/Debug/netcoreapp1.1
/LearnCore.EntityFrameworkCore/obj
